<form method="post" action="/words">
    <div class="field">
        <label for="word">Word:</label>
        <input type="text" name="text" />
    </div>

	<div class="field">
        <input class="btn btn-primary" type="submit" 
            value="Add Word to Dictionary" />
	</div>
</form>
