<h1 class="title"><%= "#{@word.text.upcase}" %></h1>

<table>
    <thead>
        <th>Text</th>
        <th>Letters</th>
    </thead>
    <tbody>
        <td><%= "#{@word.text}" %></td>
        <td><%= "#{@word.letters}" %></td>
    </tbody>
</table>

<p><a href="<%= "/#{@word.id}/edit" %>">Edit word</a></p>
