<h1 class="title">Welcome to our</h1> 
<h1 class="title">ANAGRAM GENERATOR</h1>
<p>Enter a word. Must be more than 1 letter please!</p>
<p><a href="/words">View Dictionary</a></p>
<p><a href="/words/new">Add a Word to Dictionary</a></p>

<form action="/" method="post" class="form">
    <% if @error.present? %>
        <p class="error"><%= "#{@error}" %></p>
    <% end %>
    <input type="text" name="word" class="box"><br>
    <input type="submit" class="btn" value="Show Me My Anagrams!">
</form>

