<h1 class="title">Anagrams</h1>

<form action="/" method="post" class="form">
    <label for="word">Enter a word:</label><br>
    <input type="text" name="word" class="box"><br>
    <input type="submit" class="btn">
</form>
