<h1 class="title">Anagrams for <%= "#{@word.upcase}" %></h1>
<ul class="anagrams">
    <% if !@anagrams.nil? %>
        <% @anagrams[0..((@anagrams.length/2)-1)].each do |word| %>
            <li><%= word.text.upcase %></li>
        <% end %>
    <% end %>
</ul>  
